* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: #71a9f7; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1498496294664-d9372eb521f3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #7b6eaf;
}
#page4 {
  height: 100vh;
  width: 100%;
  background-color: #6f3b80;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 h1 {
  font-size: 40vw;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto Mono", serif;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 1000;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
}
#nav h1 {
  color: white;
  font-size: 30px;
}
#nav i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#full {
  height: 100vh;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.348);
  position: absolute;
  top: 0;
  right: -100%;
  backdrop-filter: blur(10px);
  z-index: 2000;
  padding: 150px 60px;
  box-sizing: border-box;
}
#full h4 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color:  white;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
}
#page1 div {
  display: flex;
}
#page1 div h1 {
  font-family: "Roboto Mono", serif;
  font-size: 32vw;
  color: rgb(85, 120, 175);
}

#page4 div {
  padding: 20px;
  width: 90%;

  @media (min-width: 600px) {
    width: 70%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

#page4 h2 {
  color: white;
  font-family: "Roboto Mono", serif;
  font-size: 32px;
}
#page4 p {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Roboto Mono", serif;
}

#page3 {
  height: 200px;
  width: 100%;
  background-color: #acd3f7;
  /* background-color: black; */
}

/* svg {
  background-color: red;
} */
::-webkit-scrollbar {
  display: none;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}
#page5 {
  height: 100vh;
  width: 100%;
  background-color: #7b6eaf;
  display: flex;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#cursor2 {
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9;
}
#image {
  width: 70vw;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.281);
  position: relative;
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
}
